LDAP_AGENT_NAME=CN=Nextcloud,CN=Users,DC=example,DC=com
LDAP_AGENT_PASS=ldap_secret
LDAP_BASE=DC=example,DC=com
LDAP_HOST=ldaps://dc.example.com
LDAP_LOGIN_FILTER='(&(objectclass=person)(sAMAccountName=%uid))'
LDAP_USER_DISPLAYNAME=displayname
LDAP_USER_FILTER='(objectclass=person)'
